<!-- <div class="card ">
    <div class="container">
            <div class="navbar navbar-dark bg-primary shadow-sm">
                <div class="navbar-brand align-item-left d-flex">
                    <h2>Book Details</h2> 
                </div>
            </div>  
            <div class="row">
                <div style="border: 1px solid black;" class="col-3">
                <p>image</p>
                </div>
                <div style="border: 1px solid black;" class="col-9">
                <p>details</p>
                </div>
            </div>
        </div>        
</div> -->
